*{
    margin: 0;
    padding: 0;
}
 body{
    background-color: black;
    color: white;
      position: absolute;
    top: 0;
 }
.logo{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    font-family: 'poppins', sans-serif;
    position: absolute;
    top: 0;
}
.menu a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0px 5px;
}
.menu a:last-child{
  background:#e74c3c ;
  border-radius: 5px;
}
.menu a:hover{
   background:#e74c3c ;
  border-radius: 5px;
  transition: 0.4s linear;
}
.line{
  position: absolute;
  top: 22px;
  left: 8px;

}
.box1{
  width: 10px; height: 10px; background: white;

}
.box2{
  width: 50px; height: 10px; background: white;
  
}
.box3{
  width: 60px; height: 10px; background: white;
  
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.left{
  flex-basis: 40%;
}
.right{
  flex-basis: 50px;
}
.right img{
  
}
.left h1{
  font-size: 4.5rem;
}
.left button{
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  margin-top: 30px;
border: none;
outline: none;
border-radius:5px;
}